/*########### Defaults ###########*/

nav,
header,
footer {
  font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

label {
  font-size: 35px;
  font-weight: 600;
  color: blue;
}

p {

  font-size: 1.5rem;
  line-height: 1.2;
  padding: 5%;
}

hr {
  color: blue;
}

article p {
  font-size: 35px;
  padding: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4%;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*############### Nav bar ############*/

nav {
  width: 100%;
  height: 80px;
  margin: 0;
  position: fixed;
  background-color: black;
  z-index: 1;
}

nav ul {
  overflow: hidden;
  margin: 0;
  padding: 20px 0;
}

ul.topnav li {
  list-style: none;
  float: left;

}

ul.topnav li.topnav-right {
  float: right;
}

.active {
  background-color: blue;
  font-weight: bold;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 15px;
  text-align: center;
  width: 110px;
  padding: 10px;
  margin: 0 3px;
  text-transform: uppercase;
  color: #fff;
  border: solid 2px blue;
  border-radius: 3px;
}

ul.topnav li a:hover {
  background-color: blue;
  font-weight: bold;
  color: #fff;
}

ul.topnav li.dropdownIcon {
  display: none;
}

/*##### Custom styles #########*/

#section-1-gradient {
  background: #076DFF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#076DFF, #65a5ff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#076DFF, #65a5ff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#076DFF, #65a5ff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#076DFF, #65a5ff);
  /* Standard syntax */
}


div.box {
  height: auto;
  text-align: center;
  margin: 10px 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: solid 2px blue;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15),
    0 2px 3px 0 rgba(0, 0, 0, .1);
}

div.box:hover {
  border: solid 4px rgb(1, 1, 150);
}

div.slopeIcon img {
  display: block;
  margin: auto;
  box-shadow: -2px
    /*H*/
    -2px
    /*V*/
    20px
    /*B*/
    2px
    /*S*/
    rgba(0
      /*Sh*/
      , 0
      /*BG*/
      , 0
      /*BX*/
      , .15
      /*Op*/
    ), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

button {
  font-size: 32px;
  font-weight: normal;
  color: #fff;
  background-color: blue;
  padding: 10px 50px;
  display: block;
  text-align: center;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(1, 1, 150);
}

button.learnMore {
  display: block;
  margin: auto;
}


div.leftSide-col {
  margin-left: 30%;
}

div.rightSide-col {
  margin-left: 15%;
}

h1.large {
  color: #fff;
  font-size: 56px;
  margin: 0;
  line-height: 70px;
}

.section2Head {
  margin-top: 100px;
}

h2.section2Header {
  font-size: 45px;
  text-align: center;
  display: block;
  position: relative;
  margin: 5%;
  color: blue;
  text-decoration: underline;
}


form h2 {
  color: #fff;
}

input[type="Email"] {
  font-size: 20px;
  width: 400px;
  min-width: 100px;
  padding: 5px;
  border-radius: 7px;
}

textarea[class='comment'] {
  width: 370px;
  height: 100px;
  padding: 5px;
  border: 3px;
  border-radius: 7px;
  color: #095484;
}

footer.footsy {
  background-color: black;
  padding: 30px 0;
}

footer.footsy h1 {
  text-align: center;
  color: blue;
  font-size: 20px;
  font-weight: lighter;
}

footer.footsy ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

footer.footsy ul li {
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
}


* {
  box-sizing: border-box
}

.mySlides img {
  width: 100%;
  height: auto;
  filter: brightness(60%);
}

.con-con {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
}

/* Slideshow container */
.slideshow-container {
  text-align: center;
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  top: 80px;
  margin-bottom: 10%;
  overflow: hidden;
}

.slideshow-text {
  margin: 0;
  width: 100%;
  padding: 0 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%)
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
} */

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/*######### Mobile ###########*/

@media screen and (max-width: 680px) {

  /*landing*/
  .mySlides img {
    width: auto;
    height: 100vh;

  }

  /* .slideshow-container {
  max-width: 100vw;
  max-height: 100vh;
} */

  .slideshow-text {
    font-size: 1.5rem;
  }

  h2.section2Header {
    font-size: 25px;
  }

  label {
    font-size: 30px;
  }



  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }

  ul.topnav li.dropdownIcon {
    display: block;
    float: right;
  }

  ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li {
    display: inline;
    float: none;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

  h1.section2Header {
    font-size: 2rem;
  }

  p {
    font-size: large;
  }

  article p {
    font-size: 25px;
  }

  .col-7,
  .col-6,
  .col-5,
  .col-4 {
    width: 100%;
    margin: 0;
  }

  div.mobileStack {
    width: 50%;
    display: block;
  }

  div.box {
    padding: 5px;
    display: block;
  }

  div.slopeIcon {
    margin: 10px;
  }

  div.slopeIcon img {
    width: 100%;
  }

  div.leftSide-col,
  div.rightSide-col {
    margin: 15px;
  }

  input[type="text"] {
    width: 350px;
  }

  .videoContainer iframe {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }


}