* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  background-image: url(./images/header_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 768px;
  width: 1350px;
}

/*admission enquiry logo */
.enquiry_anim {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  font-size: 3em;
}

.h2_problem {
  text-decoration: underline;
}

.problem{
  font-size: 1.2em;
  margin: 0px 50px;
  padding: 20px;
  text-align: justify;
}

/* welcome font size */
.header p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
}

/* Style the top navigation bar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: darkblue;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: orangered;
  color: black;
  font-weight: bolder;
}

.universities{
  margin-left: 50px;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1f1;
  padding: 20px;
  width: 60%;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #333;
  width: 80%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}